<div class="container">
  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/ProductList/">Tudo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Buchas e Parafusos">Buchas e Parafusos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Piso tatil e Adesivos">Piso tatil e Adesivos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductList/Alarme">Alarme</a>
    </li>
  </ul>
</div>