<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Obrigado | E-ACCESS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-7">
            <div><img th:src="@{/images/thank-you.png}" alt="Thank you" width="100%"/></div>
            <p><b>Obrigado por sua compra!</b></p>
            <p>Numero de pedido: <span th:text="${orderRef}"/></p>
            <a href="/ProductList">Continuar Compra.</a>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-12">
                    <p><b>Duvidas?</b></p>
                    <p><b>Telefone 011 99811 6642 <br/> <br/> <a href="mailto:Diego_marcondes@live.com">Email para contato</a></b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

