<!DOCTYPE HTML>
<html xmlns:th="http://localhost" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Produto Pagina | E-ACCESS</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-6"><img th:src="@{/images/}+${product.photo}" th:alt="${product.category.name}" width="100%"/></div>
            <div class="col-6">
                <div th:text="${product.collection.name}"/>
                <div th:text="${product.name}"/>
                <div th:text="${product.price}"/>
                <form th:action="@{/addToCart}" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                      <select name="size" required="required">
                        <option value="">-- Por favor selecione o tipo --</option>
                        <option value="pequeno">Pequeno</option>
                        <option value="medio">Médio</option>
                        <option value="grande">Grande</option>
                        <option value="outro">Outro</option>
                      </select>
                    <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">Adicionar ao Carrinho</button>
                </form>
                <div>Descrição<br/><span th:text="${product.description}"/></div>
            </div>
        </div>
    </div>
</body>
</html>

